body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  height: 100vh;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 0px;
}

.App {
  height: 100vh;
}

.left_menu_container {
  width: 50vw;
}

.home_container {
  position: relative;
  top: 7vh;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 84vh;
}

.home_container_messages {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 98%;
  overflow-y: scroll;
  bottom: 6vh;
  z-index: 1;
}
.home_container_message {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  z-index: 1;
}
.home_container_messages_outer {
  background-color: lightblue;
  border-radius: 20px;
  height: 50px;
  padding: 10px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.home_container_messages_mid {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.home_container_messages_inner {
  background-color: gray;
  border-radius: 20px;
  height: 50px;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.home_container_foot {
  display: flex;
  height: 6vh;
  width: 100%;
  font-weight: 900;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
}

header {
  z-index: 50;
}
.home_container_foot_send_form {
  width: 100%;
  margin: auto;
  background-color: transparent;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.home_container_foot_send_form_input_container {
  border-radius: 70px;
  border: none;
  height: 100%;
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.home_container_foot_send_form_extra_container {
  border-radius: 30px;
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_container_foot_send_form_input {
  border: none;
  background-color: rgb(243, 236, 236);
  width: 70%;
  height: 70%;
  z-index: 100;
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: none;
}
.home_container_foot_send_form_extra {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.home_container_foot_send_form_input_element {
  width: 60%;
  height: 60%;
  border-radius: 60px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 40px;
  border: none;
  margin-right: 40px;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  outline: none;
}
.home_container_foot_send_form_input_image_icon {
}
